* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 234, 231);
}

#todo {
  padding: 10px 20px;
  width: 450px;
}

#todo-title {
  padding: 10px 0 10px 8px;
  margin: 3px;
  font-size: 17px;
  background-color: white;
  border: 1px solid white;
  font-weight: 400;
}

li {
  display: flex;
  align-items: center;
  height: 44px;
  margin: 3px;
  list-style: none;
  border: 1px solid white;
  border-top: none;
  background-color: white;
}

input {
  margin: 0 7px;
}

button {
  height: 44px;
  width: 99%;
  padding: 12px 0 12px 8px;
  margin: 1px 0 0 3px;
  border: 1px solid white;
  border-top: none;
  background-color: white;
}
